@charset "utf-8";
#loginButton {
    display: flex;
    gap: 12px;
}
#loginButton a{
    width: 120px;
    height: 48px;
    background: linear-gradient(to right, #423047, #333252);
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    border-radius: 15px;
    color: #C7CFDA;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#loginButton a:hover{
    color: white;
}